<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7379e93cf5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
   <header>
        <div class="overlay">
            <nav>
                <h2>SHOP</h2>
                <ul>
                     <li><a href="/">Home</a></li>
                    <li><a href="/store">Store</a></li>
                    <li class="cart">
                        <a href="/cart">
                            <i class="fas fa-shopping-cart"><span>0</span></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
            
                <div class="checkoutSuccessCtn">
                    <h1>Thank You</h1>
                    <hr />
                    <p>Your purchase is complete</p>
                    <p>We will email your invoice to given email</p>
                </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js" integrity="sha512-v8+bPcpk4Sj7CKB11+gK/FnsbgQ15jTwZamnBf/xDmiQDcgOIYufBo6Acu1y30vrk8gg5su4x0CG3zfPaq5Fcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script src="/getSession.js"></script>
</body>
</html>